/* fonts */
.merriweather-normal {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* shared styles */
.white {
    color: white;
}
.red{
    color: red;
}
/* landing page style */
.landing {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
        url(../resources/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
    border-radius: 16px;
    margin: 50px auto;
}

.landing .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 16px;

}

.landing .subtitle {
    margin-top: 177px;
    font-size: 32px;
}

.landing .title {
    font-size: 72px;
    text-align: center;
}
/* offer page styles */
.offer{
    text-align: center;
}
.offer .title{
    font-size: 88px;
    margin-bottom: 48px;
    font-weight: bold;
}
.offer .subtitle{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.offer .description{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}
